<td-layout-nav logo="{{appconfig.AppIcon}}" toolbarTitle="{{appconfig.AppName}}" navigationRoute="/">
  <div td-toolbar-content layout="row" flex>
    <!--<span>Suche</span>-->
    <span flex></span>
  </div>
  <div class="md-content">
    <div flex>
      <div layout-gt-xs="row" layout-wrap>
        <div flex-gt-xs="75">
          <md-card style="min-height: 100vh;">
            <!--<md-card-title>Chordal</md-card-title>-->
            <!--<md-card-subtitle>Chordal</md-card-subtitle>-->
            <!--<md-divider></md-divider>-->
            <div style="min-height: 100vh;">
              <app-chordal style="min-height: 100vh;"></app-chordal>
            </div>
          </md-card>
        </div>
        <div flex-gt-xs="25">
          <div layout-gt-xs="row" layout-wrap>
            <div>
              <md-card>
                <!--<md-card-title>Chordal</md-card-title>-->
                <!--<md-card-subtitle>Chordal</md-card-subtitle>-->
                <!--<md-divider></md-divider>-->
                <div>
                  <app-chordaloptions></app-chordaloptions>
                </div>
              </md-card>
            </div>
            <div>
              <md-card>
                <!--<md-card-title>Chordal</md-card-title>-->
                <!--<md-card-subtitle>Chordal</md-card-subtitle>-->
                <!--<md-divider></md-divider>-->
                <div>
                  <app-grid></app-grid>
                </div>
              </md-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</td-layout-nav>
