<div *ngIf="this.dataprovider.chordListSubject.value.length>0">
  <div style="padding: 5px;">
    <md-card-subtitle>Es wurden {{this.dataprovider.chordListSubject.value.length}} Chords gefunden.</md-card-subtitle>
    <md-divider></md-divider>
    <ag-grid-angular #agGrid style="width: 300px;height:450px;" class="ag-fresh" [gridOptions]="gridOptions" [rowData]="this.dataprovider.chordListSubject.value">
    </ag-grid-angular>
  </div>
</div>
<div *ngIf="this.dataprovider.chordListSubject.value.length===0">
  <md-card-subtitle>No data to display.</md-card-subtitle>
</div>
